footer {
  background-color: #CCC;
  height: 150px;
  display: flex;
  justify-content: center;
  /* Centralizar com flexbox */
  align-items: center;

}

footer span {
  font-weight: bold;
  /* Destaque */
  color: #FFF;
}


footer p {
  font-weight: bold;
  /* Destaque */
  color: #FFF;
}
