<mat-grid-list cols="4" rowHeight="6:7" class="list">
  <ul *ngFor="let item of listMovies">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="flex">{{item.title}}</mat-card-title>
          <mat-card-subtitle class="flex">{{item.genero}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.url">
        <mat-card-content class="description">
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="btn">
          <button mat-button routerLink="/editar/{{item.id}}">Editar</button>
          <button mat-button>Playlist</button>
        </mat-card-actions>
      </mat-card>
      <input type="hidden" name="id" value="{{item.id}}">
    </mat-grid-tile>
  </ul>
</mat-grid-list>
